        {% extends 'base.html' %}
        {% block content %}
        {%import 'macros.html' as macro %}
        
        
        <div class="container-fluid">
                <div class="row">
                        <h2 style="text-align: center;color:#0CF;"> The World Today </h2>
                        <hr>                        
                        {% macro.newsCategory(general)%}                      
                </div>
         </div>
         <hr>

         <div class="container-fluid">
            <div class="row">
                <h2 style="text-align: center;color:#0CF;">Business News </h2>
                <hr>
                {% macro.newsCategory(business)%}
            </div>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">
                <h2 style="text-align: center;color:#0CF;">Technology news </h2>
                <hr>
                {% macro.newsCategory(technology)%}
        </div>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">
             <h2 style="text-align: center;color:#0CF;">In the World Of Sports: </h2>
             <hr>
             {% macro.newsCategory(sports)%}
    </div>
    </div>
    <hr>

    <h2 style="text-align: center;color:#0CF;">Science news </h2>
    <hr>
    {% macro.newsCategory(science)%}
    </div>
    </div>
    <hr>

    {%  endblock %}